body {
  font-family: 'Avenir Next LT Medium', arial, sans-serif;
}

#patagonia {
  width: 150px;
  height: 30px;
}
#navbar-header {
  color:white;

}
#inside {
  color:black;
}
#hoodie {
  width:100%;
}

h2 {
  font-size: 25px;
  font-weight:bold;
  text-align: center;
}

h3 {
text-align: center;
}

.jumbotron{
     margin-bottom: 0px;
     background-position: 20% 25%;
     background-image: url(patagonia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.footer{
  background-color:white;
  padding: 12px 24px;

}
h4{
  font-size: 15px;

}
h5{
  font-size: 15px;

}
.form-control{
  font-family: Avenir Next LT Medium;
  font-size: 15px;
  color:black;
  border-color:#C0C0C0;
  font-weight: bold;
}