body {
	margin: 0px;
}

#container {
	top: 0px;
	left: 0px;
	width: 728px;
	height: 90px;
	display: block;
	position: relative;
	cursor: pointer;
	   border: 1px solid #b9b9b9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background: #d1d3d4; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #d1d3d4 0%, #fbfbfb 50%, #d1d3d4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d1d3d4), color-stop(50%,#fbfbfb), color-stop(100%,#d1d3d4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #d1d3d4 0%,#fbfbfb 50%,#d1d3d4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #d1d3d4 0%,#fbfbfb 50%,#d1d3d4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #d1d3d4 0%,#fbfbfb 50%,#d1d3d4 100%); /* IE10+ */
    background: linear-gradient(135deg,  #d1d3d4 0%,#fbfbfb 50%,#d1d3d4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d3d4', endColorstr='#d1d3d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   
}

#banner {
	top: 0px;
	left: 0px;
	width: 728px;
	height: 90px;
	display: block;
	overflow: hidden;
}




#xfinity_logo{
    position: absolute;
    left: 642px;
    top: 10px;
    background: url('sprites.png') no-repeat no-repeat -4px -80px;
    width: 73px;
    height: 24px;
}

#slide1Copy{
    position: absolute;

}
#slide1CopySmall{ /*only $99*/
    position: absolute;
    left: 222px;
    top: 48px;
    background: url('sprites.png') no-repeat no-repeat  -133px -83px;
	width: 50px;
	height: 16px;
}
#bar{
    position: absolute;
    left: 424px;
    top: 10px;
    background: url('sprites.png') no-repeat no-repeat -207px -4px;
    width: 2px;
    height: 70px;
}

#copy1{
    position: absolute;
    left: 224px;
    top: 25px;
    background: url('sprites.png') no-repeat no-repeat -7px -18px;
    width: 189px;
    height: 17px;
}
#copy2{
    position: absolute;
    left: 225px;
    top: 48px;
    background: url('sprites.png') no-repeat no-repeat -8px -43px;
	width: 25px;
	height: 14px;
}
#copy3{
    position: absolute;
    left: 257px;
    top: 44px;
    background: url('sprites.png') no-repeat no-repeat -42px -35px;
	width: 77px;
	height: 25px;


}
#copy4{
    position: absolute;
    left: 338px;
    top: 48px;
    background: url('sprites.png') no-repeat no-repeat -121px -43px;
	width: 73px;
	height: 14px;
}
#copy5{
    position: absolute;
    left: 376px;
    top: 99px;
    background: url('sprites.png') no-repeat no-repeat  -219px -5px;
    width: 147px;
    height: 65px;
}
#copy6{
    position: absolute;
    left: 48px;
    top: 27px;
    background: url('sprites.png') no-repeat no-repeat  -5px -111px;
    width: 178px;
    height: 39px;
}
#copy7{
    position: absolute;
    left: 39px;
    top: 38px;
    background: url('sprites.png') no-repeat no-repeat -8px -252px;
    width: 198px;
    height: 17px;
}

#cta{
    position: absolute;
    overflow: hidden;   
    left: 615px;
    top: 60px;
    background: url('sprites.png') no-repeat no-repeat -234px -113px;
    width: 100px;
    height: 20px;

}
#devices{
    position: absolute;
    left: 252px;
    top: 99px;
    background: url('sprites.png') no-repeat no-repeat  -13px -152px;
    width: 167px;
    height: 75px;
}
#disclaimer{
    position: absolute;
    left: 434px;
    top: 65px;
    background: url('sprites.png') no-repeat no-repeat -6px -232px;
    width: 185px;
    height: 16px;
}
#gray_flag{
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('sprites.png') no-repeat no-repeat -215px -204px;
    width: 209px;
    height: 70px;
}




#arrow_container{
    position: absolute;
    overflow: hidden;
    left: 276px;
    top: 15px;
    width: 124px;
    height: 60px;
}

#arrow{
    position: relative;
    
    top: -60px;
    background: url('sprites.png') no-repeat -214px -142px;
    width: 124px;
    height: 60px;
    z-index: 2;
}

#grey_flag_container{
    position: absolute;
    overflow: hidden;
    left: 330px;
    top:10px;
    width: 0px;
    height: 70px;

}
#grey_flag{
    position: absolute;

    background: url('sprites.png') no-repeat -215px -204px;
    width: 209px;
    height: 70px;

}



#shine{
    opacity:.8;
    position: relative;
    left:-67px;
    background: url('sprites.png') no-repeat no-repeat -356px -111px;
    width: 67px;
    height: 21px;

}

