body {
  font-family: 'Gigi', arial, sans-serif;
  font-size: 20px;
}

.navbar-brand {
  font-family: Gigi;
  font-size: 30px;
  color: #ff3061;
  padding-top: 15px;
}

}
#bs-example-navbar-collapse-1 {
  background-color: white;

}
img {
  height: 400px;
  width: 400px;
}
#denise{
  height:300px;
  width:330px;
}

h1 {
  color: green;
  font-style: bold;
  font-size: 35px;
  text-align: center;
}
h2{
  font-size: 25px;
  text-align: center;
}



